.container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  background-color: aqua;
  color: #000;
}

.content {
  background-color: antiquewhite;
  color: #000;
}

.picture {
  padding: 10px;
  width: 250px;
  height: 250px;
  border-radius: 60%;
  max-width: 20%;
}